{% extends "base.html" %}
<!-- Form for stock selection -->

{% block content %}

<h2>Pick a Stock</h2>
<p>Type the symbol of the stock you would like to add to my stocks for further analysis</p>

<div class="stock-picks">
    <form role="form" method="PUT">
        <div class="enter-stock">
            <label>
            	Stock Symbol
                <input type="text" id="add_stock" name="add_stock">
            </label>
            <input class="btn" type="submit" name="add-stock-btn" value="Add to My Stocks">
        </div>
    </form>
</div>

{% endblock %}